{
  "presets": [
    ["@babel/env", {
      "targets": {
        "node": "current"
      }
    }]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "^~(.+)": "./src/\\1"
        },
        "extensions": [
          ".js",
          ".jsx",
          ".ts"
        ]
      }
    ]
  ]
}